*{
    margin: 0;
    padding: 0;
}

.body{
    font-family: 'Roboto';
    font-style: normal;         
}

.container{
    margin: 0 auto;
    background-image: url(../img/background\ 1\ \(3\).png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.container_header{
    width: 1028px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 46px;
}

.content{
    max-width: 1030px;
}

.logo{
    width: 180px;
    display: flex;
    text-decoration: none;
    color: #FFFFFF;
}

.logo:hover .logo_img{
    content: url(../img/logo\ 2.png);  
}

.logo:hover .logo_text-holidays{
    color: #F26522;  
}

.logo:hover .logo_text-milan{
    color: #F26522;  
}

.logo_img{
    width: 53px;
    height: 47px;
    margin-right: 8px;
}

.logo_text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 700;
}

.logo_text-milan{
    width: 140px;
    font-size: 29px;
    line-height: 29px;
}

.logo_text-holidays{
    width: 135px;
    padding-top: 3px;
    font-size: 18px;
    line-height: 18px;
}

.logo_text:hover .logo_text-milan{
    color: #F26522;  
}

.logo_text:hover .logo_text-holidays{
    color: #F26522;
}

.logo_contact{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.logo_contact_text{
    font-weight: 400;   
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
}

.logo_contact_mail{
    width: 219px;
}

.logo_contact_mail:hover{
    color: #F26522;
}

.logo_contact_number{
    width: 146px;   
    margin-top: 19px;
}

.logo_contact_number:hover{
    color: #F26522;  
}

.container_main{
    margin-top: 17px;
    margin-bottom: 41px;
    display: flex;
    justify-content: center;
}


.list{
   
    font-weight: 400;
    display: grid;
    grid-template: repeat(2, 220px)/ repeat(3, 300px);
    gap: 78px 61px; 
}

.box{
    text-decoration: none;
}

.list_text{
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

.list_text:hover{
    color: #F26522;
}

.list_img{
    width: 300px;
    height: 220px;
    border-image: linear-gradient(black 50%, white 100%);
    border-image-width: 5px;
    border-image-slice: 1;
}

.img_sightseeing{
    margin-right: 1px;
}

.img_bars{
    margin-right: 3px;
}

.img_art{
    margin-right: 2px;
}

.list_box{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.moving_offer{
    position: absolute;
    width: 100%;
    height: 55px;
    top: 165px;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.5s;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #F26522;
    color: #FFFFFF;
}

.moving_offer:hover{
    margin: 0;
    opacity: 1;
}

.list_box:hover .moving_offer{
    margin: 0;
    opacity: 1;  
}

.list_box:hover .list_text{
    color: #F26522;
}



.moving_offer_pricetag{
    display: flex;
    flex-direction: column;
    margin-top: 7px;
    margin-left: 16px;
}

.moving_offer_from{
    width: 22px;
    font-size: 10px;
    line-height: 10px;
}

.moving_offer_price{
    width: 36px;
    font-size: 20px;
    line-height: 20px;
    margin-top: 8px;
}

.moving_offer_details{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 14px;
    margin-top: 29px;
    margin-bottom: 12px;

}

.moving_offer_details::after{
    width: 7px;
    height: 7px;
    content: "";
    display: block;
    border-top: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    transform: rotate(45deg); 
    margin-right: 14px;
    margin-left: 16px;
}


.container_footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100%;
    margin-top: 49px;
}

.copyright_text{
    width: 306px;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
}

